*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincointainer{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.sidebar{
    width: 30%;
    border: 2px solid yellow;
}
.chatarea{
    width: 70%;
    border: 2px solid pink;
}




